*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.prod {
    background-color: lightyellow;
    display: inline;
    height: 100%;
}
.img_carrusel{
    width: 100%;
    height: 400px;
}
.img-footer{
    width: 32px;
    
}
#donas{
    width: 32px;
    margin-right: 10px;
}

#img-pastel{
    width: 100px;
    height: 70px;
    
}

#final_pedido{
    width: 600px;
    height: 350px;
}

#div-final{
    border: 3px solid;
    color: black;
    
}

#imagen{
    text-align: center;
}
