{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/funciones.js' %}"></script>
<h1>Actualizar clientes</h1>
<h4>Seleccione el rut que desea editar</h4>
{% for i in actualizar %}
<form action="{% url 'pasteleria:editar' %}" method="post">
    {% csrf_token %}
    <ul>
        <input type="hidden" name="rut" value="{{i.rut}}">
        <input type="hidden" name="nombre" value="{{i.nombre}}">
        <input type="hidden" name="apellido" value="{{i.apellido}}">
        <input type="hidden" name="fecha" value="{{i.fecha_nacimiento}}">
        <input type="hidden" name="direccion" value="{{i.direccion}}">
        <input type="hidden" name="comuna" value="{{i.comuna}}">
        <input type="hidden" name="correo" value="{{i.email}}">
        <li>Rut: {{i.rut}}</li><span><input type="submit" value="Editar"></span>
    </ul>
</form>
{% endfor %}

