{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img id="imagen" src="{% static 'img/iconfinder_bite-cake-christmas-cookie-seet_5448872.png' %}">
            <a class="navbar-brand" href="#">Cake House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'pasteleria:inicio' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de la pasteleria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div style="text-align: center">
    <h1>Eliminar producto</h1>
</div>
<br>
<form action="{% url 'pasteleria:borrar_producto' %}" id="eliminar_producto" method="post" class="container-sm">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Busque el nombre del producto que desea eliminar</label>
            <input type="text" id="borrar_pro" name="borrar_pro" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Eliminar</button>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i><img src="{% static 'img/facebook.png' %}" style="width: 30px"></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i><img src="{% static 'img/instagram.png' %}" style="width: 30px"></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i><img
                    src="{% static 'img/twitter.png' %}" style="width: 30px"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Pasteleria Cake House. Todos los derechos reservados 2021
    </div>
    <!-- Copyright -->
</footer>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#eliminar_producto").click(function () {
            var nombre = $("#borrar_pro").val();

            if (nombre.trim() == "") {
                document.getElementById("borrar_pro").style.borderColor = "red";
                return false;
            }
            else {
                document.getElementById("borrar_pro").style.borderColor = "green";

            }
        });
    });
</script>