{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/funciones.js' %}"></script>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img id="imagen" src="{% static 'img/iconfinder_bite-cake-christmas-cookie-seet_5448872.png' %}">
            <a class="navbar-brand" href="#">Cake House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'pasteleria:inicio' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de la pasteleria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/api/">Utilizar Api</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br>
<br>
<br>

<div class="container-sm">
    <div class="row">
        <div class="col-md-6">
            <h1>Queque de Zanahoria</h1>
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img_carrusel" src="{% static 'img/queque1.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img_carrusel" src="{% static 'img/queque2.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="img_carrusel" src="{% static 'img/queque3.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Descripcion del producto</h5>
                <br>
                <br>
                <p class="card-text">El queque de zanahoria, tarta de zanahoria es un pastel dulce con zanahoria machacada mezclada en la masa. 
                    La zanahoria se ablanda en el proceso de cocción, y el queque suele tener una textura densa y suave. 
                    Las zanahorias mejoran el sabor, textura y apariencia del pastel.</p>
                <h5>$8.000</h5>
                <h5>Envio gratis</h5>
                <br>
                <br>
                <div class="btn-group">
                    <a href="#" class="btn btn-secondary">Agregar al carrito</a>
                </div>
                <br>
                <br>
                <div class="btn-group">
                    <a href="{% url 'pasteleria:finalizar_pedido_dos' %}" class="btn btn-primary">Comprar</a>
                </div>
                <div class="btn-group">
                    <a href="{% url 'pasteleria:inicio' %}" class="btn btn-primary">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>



<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i><img src="{% static 'img/facebook.png' %}" style="width: 30px"></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i><img src="{% static 'img/instagram.png' %}" style="width: 30px"></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-twitter"></i><img src="{% static 'img/twitter.png' %}" style="width: 30px"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Pasteleria Cake House. Todos los derechos reservados 2021
    </div>
    <!-- Copyright -->
</footer>







<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>